<div>
  <app-header></app-header>
  <div class="wrapper">
    <mat-card class = "container">
      <div class="imgContainer"><img src="/assets/icons/logo_2.png"/></div>
    <mat-card-header >
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
      <form [formGroup]="registerForm" autocomplete="off" class="form">
            <mat-card-content class="card-content">
              <mat-grid-list cols="2" rowHeight="85px">
                <mat-grid-tile>
                  <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" type="text" placeholder="Nombre" required>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline" class="field-full-width">
                  <mat-label>Apellidos</mat-label>
                  <input matInput formControlName="lastName" type="text" placeholder="Apellidos" required>
                  <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Correo electrónico" required>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline" class="field-full-width">
                  <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" color="color-secondary" type="password" placeholder="Contraseña" required>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline" class="field-full-width">
                  <mat-label>Selecciona una área</mat-label>
                  <mat-select formControlName="careerId" disableRipple required>
                    <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Selecciona un rol</mat-label>
                <mat-select formControlName="roleId" disableRipple required>
                  <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
              <mat-label>Selecciona un turno</mat-label>
              <mat-select formControlName="shiftId" disableRipple required>
                <mat-option value="1">Matutino</mat-option>
                <mat-option value="2">Vespertino</mat-option>
              </mat-select>
          </mat-form-field>
        </mat-grid-tile>
              </mat-grid-list>
              <div class="btnContainer">
                <button type="submit"mat-raised-button color="warn" class="btnRegister" (click)="register()">Registrarse</button>
              </div>
          <mat-card-footer class="footer">
            <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
        </mat-card-footer>
            </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>