<div>
    <app-header></app-header>
    <div class="wrapper">
    <mat-card class = "container">
        <div class="imgContainer"><img src="/assets/icons/logo_2.png"/></div>
        <mat-card-header>
            <mat-card-title>Iniciar Sesión</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" autocomplete="off" class="form">
            <mat-card-content class="card-content">
                <mat-grid-list cols="1" rowHeight="85px">
                    <mat-grid-tile>
                        <mat-form-field appearance="outline" class="field-full-width">
                          <mat-label>Correo electrónico</mat-label>
                          <input matInput formControlName="email" type="email" placeholder="Correo electrónico" required>
                          <mat-icon matSuffix>email</mat-icon>
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="outline" class="field-full-width">
                        <mat-label>Contraseña</mat-label>
                          <input matInput formControlName="password" color="color-secondary" type="password" placeholder="Contraseña" required>
                          <mat-icon matSuffix>lock</mat-icon>
                      </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="btnContainer">
                    <button type="submit"mat-raised-button color="warn" class="btnRegister" (click)="login()">Entrar</button>
                  </div>
                  <mat-card-footer class="footer">
                    <a routerLink="/register">¿Aún no tienes cuenta? Registrarse</a>
                </mat-card-footer>
            </mat-card-content>
        </form>
    </mat-card>
    </div>
  </div>