<div>
    <div class="add-title">
      <h2 class="primary" *ngIf="data.action== true">Editar Item</h2>
      <h2 class="primary" *ngIf="data.action== false">Crear Item</h2>
    </div>
    <div>
      <form [formGroup]="itemForm">
        <mat-grid-list cols="2"rowHeight="85px">
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Equipo, articulo y/o accesorio</mat-label>
                <input matInput formControlName="item_name" type="text" placeholder="Equipo, articulo y/o accesorio" required>
                <mat-icon matSuffix>device</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Descripción y/o características</mat-label>
                <input matInput formControlName="description" type="text" placeholder="Descripción y/o características" required>
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Ubicación general</mat-label>
                <input matInput formControlName="general_ubication" type="text" placeholder="Ubicación general" required>
                <mat-icon matSuffix>map</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Ubicación específica</mat-label>
                <input matInput formControlName="specific_ubication" type="text" placeholder="Ubicación específica" required>
                <mat-icon matSuffix>map</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Trabajo y/o servicio requerido</mat-label>
                <input matInput formControlName="service_details" type="text" placeholder="Trabajo y/o servicio requerido" required>
                <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
  
        <div class="btn-sec">
          <button mat-raised-button *ngIf="data.action== true" class="btnDialog" (click)="update()">Actualizar</button>
          <button mat-raised-button *ngIf="data.action== false" class="btnDialog"  (click)="add()">Guardar</button>
          <button mat-raised-button type="button" class="btnDialogCancel" (click)="close()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>