<div class="table-container">
    <div class="card-wrapper">
        <mat-card class="container-categorie">
            <h1 class="section-card">Calendario</h1></mat-card>
            <hr>
        <div class="content">
        <mat-card class="container-card">
            <mat-card class="card">
                    <div class="btnActions">
                        <button mat-raised-button class="btnAdd" title="Agregar" (click)="openDialog(false)"><mat-icon matSuffix>add</mat-icon></button>
                            </div>
                        <div class="example-container mat-elevation-z0">
                        <div class="example-table-container">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  
                        <ng-container matColumnDef="userRequest">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Responsable </th>
                            <td mat-cell *matCellDef="let request">{{request.responsible.name}}  {{request.responsible.last_name}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="scheduled_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Fecha del mantenimiento</th>
                            <td mat-cell *matCellDef="let request">{{request.scheduledDate | date: 'yyyy-MM-dd'}}</td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        </div>
                        <mat-paginator [pageSize]="30"></mat-paginator>
                        </div>      
                </mat-card>
            </mat-card>
        </div>
    </div>
  </div>