<div>
    <div class="add-title">
      <h2 class="primary" *ngIf="data.action== true">Editar Usuario</h2>
      <h2 class="primary" *ngIf="data.action== false">Crear Usuario</h2>
    </div>
    <div>
      <form [formGroup]="userForm">
        <mat-grid-list cols="2"rowHeight="85px">
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" type="text" placeholder="Nombre" required>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email" type="text" placeholder="Correo electrónico" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="lastName" type="text" placeholder="Apellidos" required>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Contraseña" required>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
           <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Selecciona una carrera</mat-label>
                <mat-select formControlName="careerId" disableRipple required>
                  <mat-option *ngFor="let area of areas"[value]="area.id" > {{area.name}} </mat-option>
                </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Selecciona un rol</mat-label>
                <mat-select formControlName="roleId" disableRipple required>
                  <mat-option *ngFor="let role of roles"[value]="role.id" > {{role.name}} </mat-option>
                </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="field-full-width">
                <mat-label>Selecciona un turno</mat-label>
                <mat-select formControlName="shiftId" disableRipple required>
                  <mat-option *ngFor="let shift of shifts"[value]="shift.id"> {{shift.name}} </mat-option>
                </mat-select>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
  
        <div class="btn-sec">
          <button mat-raised-button *ngIf="data.action== true" class="btnDialog" (click)="updateUser()"> Actualizar </button>
          <button mat-raised-button *ngIf="data.action== false" class="btnDialog" (click)="createUser()"> Guardar </button>
          <button mat-raised-button type="button" class="btnDialogCancel" (click)="close()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>