/* You can add global styles to this file, and also import other style files */
@import "assets/styles/tables.css";
@import "assets/styles/cards.css";
@import "assets/styles/buttons.css";
@import "assets/styles/dialogs.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary{
    background-color: #0E3400;
}

.color-secondary{
    background-color: white;
    color: #0E3400;
}

.bg-dark{
    color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline , .mat-select-arrow {
    color: black;
}

.mat-dialog-container{
    background: white;
    color: black;
    border-color:#0E3400;
    border-width: 1px;
    border-style: solid;
}

.mat-select-value {
    color: black;
}
.mat-option {
    color: black;
    background: white;
}
.mat-option.mat-active {
    color: #fff;
    background-color: #0E3400;
}
.mat-option:hover{
    color: #fff;
    background-color: rgb(202, 202, 202);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #fff;
    background-color: #0E3400;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
    color: black;
    background: transparent;
}

.mat-table thead, .mat-table tbody, .mat-table tfoot, mat-header-row, mat-row, mat-footer-row, [mat-header-row], [mat-row], [mat-footer-row], .mat-table-sticky {
    background: rgb(233, 233, 233);
}

.mat-cell, .mat-footer-cell {
    color: black;
}