@import "../../styles.css";

.btnActions {
  justify-content: end;
  text-align: end;
  width: 100%;
  height: 70px;
}

.btnAdd {
  margin-left: 5px;
  margin-right: 5px;
  background: #0E3400;
  color: white;
}

.btnEdit{
  margin-left: 5px;
  margin-right: 5px;
  background: #0E3400;
  color: white;
}

.btnSigned{
  margin-left: 5px;
  margin-right: 5px;
  background: #236715;
  color: white;
  text-align: center;
}

.btnPending{
  margin-left: 5px;
  margin-right: 5px;
  background: #e6c71b;
  color: white;
  text-align: center;
}

.btnCancel{
  margin-left: 5px;
  margin-right: 5px;
  background: #67152b;
  color: white;
  text-align: center;
}

.btnReject{
  margin-left: 5px;
  margin-right: 5px;
  background: #67152b;
  color: white;
  text-align: center;
}

.btnAccept{
  margin-left: 5px;
  margin-right: 5px;
  background: #0d5fac;
  color: white;
  text-align: center;
}

.btnDialogCancel {
  margin: 5px;
}

.btnDialog {
  background: #0E3400;
  color: white;
}

.btn-sec {
  text-align: right;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .btn-sec {
    margin-right: 1rem !important;
  }
}
@media (max-width: 600px) {
  .btn-sec {
    margin-right: 1rem !important;
  }
}
@media (min-width: 0px) and (max-width: 1200px) {
  .btnActions {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
