<div class="table-container">
  <div class="card-wrapper">
      <mat-card class="container-categorie">
          <h1 class="section-card">Solicitudes</h1></mat-card>
          <hr>
      <div class="content">
      <mat-card class="container-card">
          <mat-card class="card">
              <form class="search-form">
                  <mat-form-field appearance="outline" class="search-full-width">
                      <mat-label>Buscar por número de folio</mat-label>
                      <input matInput type="text" placeholder="Buscar por número de folio" required (keyup)="filter($event)">
                      <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                  </form>
                  <div class="btnActions">
                      <button mat-raised-button class="btnAdd" title="Agregar" (click)="openDialog(false)"><mat-icon matSuffix>add</mat-icon></button>
                          </div>
                      <div class="example-container mat-elevation-z0">
                      <div class="example-table-container">
                  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                      <ng-container matColumnDef="folio">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Folio </th>
                          <td mat-cell *matCellDef="let request">{{request.folio}}  </td>
                      </ng-container>

                      <ng-container matColumnDef="userRequest">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Solicitante </th>
                          <td mat-cell *matCellDef="let request">{{request.responsible.name}}  {{request.responsible.last_name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="serviceDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Fecha</th>
                          <td mat-cell *matCellDef="let request">{{request.service_date | date: 'yyyy-MM-dd'}}</td>
                      </ng-container>

                      <ng-container matColumnDef="area">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Área </th>
                          <td mat-cell *matCellDef="let request">{{request.area.name}}</td>
                      </ng-container>

                      <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Estatus </th>
                          <td mat-cell *matCellDef="let request" ><button
                              mat-raised-button class="btnPending" *ngIf="request.status.name == 'Pendiente'">
                          {{request.status.name}}</button>
                          <button
                              mat-raised-button class="btnAccept" *ngIf="request.status.name == 'Aceptado'">
                          {{request.status.name}}</button>
                          <button
                              mat-raised-button class="btnCancel" *ngIf="request.status.name == 'Cancelado'">
                          {{request.status.name}}</button>
                          <button
                              mat-raised-button class="btnSigned" *ngIf="request.status.name == 'Finalizado'">
                          {{request.status.name}}</button>
                          </td>
                      </ng-container>

                      <ng-container matColumnDef="accept">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Acciones </th>
                          <td mat-cell *matCellDef="let request"><button *ngIf="request.status.name == 'Pendiente'"
                              mat-raised-button class="btnAccept" (click)="acceptRequest(request.id)"><mat-icon matSuffix>check</mat-icon></button>
                              <button *ngIf="request.status.name == 'Aceptado'"
                              mat-raised-button class="btnSigned" (click)="finishRequest(request.id)">Finalizar</button></td>
                      </ng-container>

                      <ng-container matColumnDef="cancel">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> </th>
                          <td mat-cell *matCellDef="let request">
                          <button *ngIf="request.status.name == 'Pendiente'"
                              mat-raised-button class="btnCancel" (click)="cancelRequest(request.id)"><mat-icon matSuffix>cancel</mat-icon></button></td>
                      </ng-container>
                      <ng-container matColumnDef="edit">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Editar </th>
                          <td mat-cell *matCellDef="let request"><button title="Editar" mat-raised-button class="btnEdit" (click)="openDialog(true, request.id)"  *ngIf="request.status.name == 'Pendiente'">
                          <mat-icon matSuffix>edit</mat-icon></button> </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      </div>
                      <mat-paginator [pageSize]="30"></mat-paginator>
                      </div>      
              </mat-card>
          </mat-card>
      </div>
  </div>
</div>